/.babelrc
/.editorconfig
/.eslintignore
/.eslintrc.json
/.gitattributes
/.gitignore
/.idea
/.ignore
/.mailmap
/.npmignore
/.npmrc
/.nvmrc
/.prettierignore
/.prettierrc
/.remarkrc
/.sonarcloud.properties
/.travis.yml
/.yarnrc
/CHANGELOG.md
/CNAME
/LICENSE
/README.md
/ROADMAP.md
/_config.yml
/docs/
/package.json
/renovate.json
/rollup.config.mjs
/src/
/temp/
/test/
/yarn.lock
